---
title: Welcome to Middleman
---



<div class="navbar navbar-inverse">
	<div class="container">
		<div class"navbar-header">

			<a href="" class="navbar-brand">Bohorquez Family</a>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle Nav</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="">Isabela</a></li>
				<li><a href="">Nina</a></li>
				<li><a href="">Lucas</a></li>
			</ul>
		</div>

	</div>
</div>

<div class="welcome">
  <h1>Welcome to the Bohorquez Family website!</h1>
 
</div><!-- .welcome -->

<div class = "container">
	<div class="row">
		<div class="col-md-4 box">
			 <h5>My name is Nina... and I'm a Vampire!!</h5>
			<img src="./images/nina_vamp.jpg" height = "300px">
		</div>
		<div class="col-md-4 box">
			<h5>My name is Lucas... and I'm a Ninja!</h5>
			<img src="./images/lucaSnow1.jpg" height="300px"/>
		</div>
		<div class="col-md-4 box">
			<h5>My name is Lucas... and I'm a Polar Bear!</h5>
			<img src="./images/IsaSnow1.jpg" height="300px"/>
		</div>
	</div>
</div>	

<script src="javascripts/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="javascripts/bootstrap.min.js"></script>