---
title: Welcome to Middleman
---

<div class="welcome">
  <h1>Jose Bohorquez</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
  <p>If this comes up, I did someting right</p>
</div><!-- .welcome -->